{% extends 'layouts/base.html' %}
{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint expedita vel tempora necessitatibus perferendis! Delectus totam ex enim ipsam dolore. Unde iure repudiandae ratione magnam obcaecati harum recusandae, saepe sapiente odio nesciunt, laudantium non itaque expedita aspernatur maiores? Culpa deserunt possimus aut. Nisi corrupti eum, atque consectetur voluptatem repellat dolore dolorem a est ipsum dolores nesciunt voluptatibus? Facilis dicta quae consequuntur inventore reiciendis dolorem quis quidem rerum? Pariatur nam laboriosam rem animi necessitatibus officiis consequatur qui commodi, impedit laudantium maiores dignissimos ratione voluptatum asperiores at iusto adipisci fuga esse dolor quaerat doloribus eligendi saepe. Eum voluptate eveniet perferendis cupiditate.</p>
<p>Website created by {{ username }}</p>
{% endblock %}